<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1000</key>
	<dict>
		<key>FileName</key>
		<string>zuhe</string>
		<key>Title</key>
		<string>家具组合</string>
		<key>Description</key>
		<string>几个家具的组合展示</string>
	</dict>
	<key>100</key>
	<dict>
		<key>FileName</key>
		<string>bed_001</string>
		<key>Title</key>
		<string>带有床头柜的双人床</string>
		<key>Description</key>
		<string>双人床为何有三张枕头呢？</string>
	</dict>
	<key>101</key>
	<dict>
		<key>FileName</key>
		<string>bed_002</string>
		<key>Title</key>
		<string>普通大床</string>
		<key>Description</key>
		<string>一张普通的大床</string>
	</dict>
	<key>102</key>
	<dict>
		<key>FileName</key>
		<string>bed_003</string>
		<key>Title</key>
		<string>圆床</string>
		<key>Description</key>
		<string>开房的时候偶尔会遇到的圆床</string>
	</dict>
	<key>103</key>
	<dict>
		<key>FileName</key>
		<string>bed_004</string>
		<key>Title</key>
		<string>镂空床头的大床</string>
		<key>Description</key>
		<string>床头是木质的，很结实</string>
	</dict>
	<key>104</key>
	<dict>
		<key>FileName</key>
		<string>bed_005</string>
		<key>Title</key>
		<string>豪华大床</string>
		<key>Description</key>
		<string>价值不菲的双人大床</string>
	</dict>
	<key>105</key>
	<dict>
		<key>FileName</key>
		<string>cabinet_001</string>
		<key>Title</key>
		<string>四厢柜子</string>
		<key>Description</key>
		<string>一共有四个柜厢，可以放很多东西</string>
	</dict>
	<key>106</key>
	<dict>
		<key>FileName</key>
		<string>cabinet_002</string>
		<key>Title</key>
		<string>五屉柜子</string>
		<key>Description</key>
		<string>上下共有五个抽屉的柜子，很给力</string>
	</dict>
	<key>107</key>
	<dict>
		<key>FileName</key>
		<string>cabinet_003</string>
		<key>Title</key>
		<string>小柜台</string>
		<key>Description</key>
		<string>一张小柜台，仅仅能装两个抽屉的东西，很不给力</string>
	</dict>
	<key>202</key>
	<dict>
		<key>FileName</key>
		<string>eq_001</string>
		<key>Title</key>
		<string>洗脸台</string>
		<key>Description</key>
		<string>放在浴室的洗脸台</string>
	</dict>
	<key>203</key>
	<dict>
		<key>FileName</key>
		<string>bathtub_001</string>
		<key>Title</key>
		<string>洗脸盆</string>
		<key>Description</key>
		<string>浴室里的洗脸盘</string>
	</dict>
	<key>204</key>
	<dict>
		<key>FileName</key>
		<string>bathtub_002</string>
		<key>Title</key>
		<string>方形盆</string>
		<key>Description</key>
		<string>方形的洗脸盆，具有现代的感觉</string>
	</dict>
	<key>205</key>
	<dict>
		<key>FileName</key>
		<string>toilet_001</string>
		<key>Title</key>
		<string>方形马桶</string>
		<key>Description</key>
		<string>每个人都要马桶，马桶都是朋友</string>
	</dict>
	<key>323</key>
	<dict>
		<key>FileName</key>
		<string>desk_004</string>
		<key>Title</key>
		<string>塑料桌</string>
		<key>Description</key>
		<string>很有现代设计感的塑料桌</string>
	</dict>
	<key>301</key>
	<dict>
		<key>FileName</key>
		<string>chair_001</string>
		<key>Title</key>
		<string>木质椅</string>
		<key>Description</key>
		<string>拥有一个皮垫的木质靠椅，坐着很舒服，冬暖夏凉，也很软</string>
	</dict>
	<key>302</key>
	<dict>
		<key>FileName</key>
		<string>chair_002</string>
		<key>Title</key>
		<string>老板椅</string>
		<key>Description</key>
		<string>老板才能坐的椅子，皮质，很厚实，是身份的象征</string>
	</dict>
	<key>303</key>
	<dict>
		<key>FileName</key>
		<string>chair_003</string>
		<key>Title</key>
		<string>普通椅</string>
		<key>Description</key>
		<string>塑料支架和皮垫组成的普通座椅，物美价廉的椅子</string>
	</dict>
	<key>304</key>
	<dict>
		<key>FileName</key>
		<string>chair_004</string>
		<key>Title</key>
		<string>塑料人体工学椅</string>
		<key>Description</key>
		<string>塑料制成的人体工学椅，可以承受各种姿势，坐上去很是舒适</string>
	</dict>
	<key>305</key>
	<dict>
		<key>FileName</key>
		<string>chair_005</string>
		<key>Title</key>
		<string>高脚转椅</string>
		<key>Description</key>
		<string>纤细又不失风格的转椅，很实用</string>
	</dict>
	<key>306</key>
	<dict>
		<key>FileName</key>
		<string>desk_001</string>
		<key>Title</key>
		<string>桌椅组合</string>
		<key>Description</key>
		<string>木质的传统桌椅组合，古典风格，装饰华美</string>
	</dict>
	<key>307</key>
	<dict>
		<key>FileName</key>
		<string>desk_002</string>
		<key>Title</key>
		<string>长桌椅组合</string>
		<key>Description</key>
		<string>长桌和椅子、柜子的组合，也是非常经典的一种款式</string>
	</dict>
	<key>308</key>
	<dict>
		<key>FileName</key>
		<string>desk_003</string>
		<key>Title</key>
		<string>圆角桌子</string>
		<key>Description</key>
		<string>金属支脚的木质桌子</string>
	</dict>
	<key>309</key>
	<dict>
		<key>FileName</key>
		<string>desk_005</string>
		<key>Title</key>
		<string>电视柜</string>
		<key>Description</key>
		<string>客厅里放电视的柜子</string>
	</dict>
	<key>310</key>
	<dict>
		<key>FileName</key>
		<string>desk_006</string>
		<key>Title</key>
		<string>小书桌</string>
		<key>Description</key>
		<string>学习用的多功能小书桌</string>
	</dict>
	<key>316</key>
	<dict>
		<key>FileName</key>
		<string>plant_004</string>
		<key>Title</key>
		<string>大卫</string>
		<key>Description</key>
		<string>裸体的大卫</string>
	</dict>
	<key>312</key>
	<dict>
		<key>FileName</key>
		<string>lamp_002</string>
		<key>Title</key>
		<string>小台灯</string>
		<key>Description</key>
		<string>LED小台灯，省电又节能</string>
	</dict>
	<key>313</key>
	<dict>
		<key>FileName</key>
		<string>plant_001</string>
		<key>Title</key>
		<string>郁金香</string>
		<key>Description</key>
		<string>郁金香，很香很浓</string>
	</dict>
	<key>314</key>
	<dict>
		<key>FileName</key>
		<string>plant_002</string>
		<key>Title</key>
		<string>小草</string>
		<key>Description</key>
		<string>适合放在客厅的小草</string>
	</dict>
	<key>315</key>
	<dict>
		<key>FileName</key>
		<string>plant_003</string>
		<key>Title</key>
		<string>两只手</string>
		<key>Description</key>
		<string>我和你缠缠绵绵翩翩飞</string>
	</dict>
	<key>317</key>
	<dict>
		<key>FileName</key>
		<string>sofa_001</string>
		<key>Title</key>
		<string>转角沙发</string>
		<key>Description</key>
		<string>有一个转角的沙发</string>
	</dict>
	<key>318</key>
	<dict>
		<key>FileName</key>
		<string>sofa_002</string>
		<key>Title</key>
		<string>天鹅绒沙发</string>
		<key>Description</key>
		<string>天鹅绒的沙发，至尊享受</string>
	</dict>
	<key>319</key>
	<dict>
		<key>FileName</key>
		<string>sofa_003</string>
		<key>Title</key>
		<string>单人沙发</string>
		<key>Description</key>
		<string>一个人坐的皮沙发</string>
	</dict>
	<key>320</key>
	<dict>
		<key>FileName</key>
		<string>tv_001</string>
		<key>Title</key>
		<string>刚挺线条的电视</string>
		<key>Description</key>
		<string>56寸大电视!</string>
	</dict>
	<key>321</key>
	<dict>
		<key>FileName</key>
		<string>tv_002</string>
		<key>Title</key>
		<string>现代电视</string>
		<key>Description</key>
		<string>44寸现代电视</string>
	</dict>
	<key>322</key>
	<dict>
		<key>FileName</key>
		<string>tv_003</string>
		<key>Title</key>
		<string>功放</string>
		<key>Description</key>
		<string>非常豪华的功放套装</string>
	</dict>
</dict>
</plist>
